.divSize{
    border: 1px gainsboro solid;
    /*min-width: 344px;*/
    max-width: 400px;
    height: 300px;
    background-color: white;
    position: relative;
    z-index: 2;
}

.spanHeight{
    display: inline-block;
    height: 30px;
    line-height: 30px;
}
.radius{
    border-radius:5px;
}
.login{
    margin-top:50px;
    padding-top:10px;
}
/*广告*/
.advert{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}