<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.2.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc.xsd
      http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd">


    <!-- 使用thymeleaf解析   Begin-->
    <bean id="templateResolver"
          class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/WEB-INF/static/html/"/>
        <property name="suffix" value=".html"/>
        <property name="templateMode" value="HTML"/>
        <property name="cacheable" value="false"/>
        <!--解决中文乱码-->
        <property name="characterEncoding" value="UTF-8" />
    </bean>
    <bean id="templateEngine"
          class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver"/>
    </bean>
    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine"/>
        <!--解决中文乱码-->
        <property name="characterEncoding" value="UTF-8" />
    </bean>
    <!-- 使用thymeleaf解析   end-->
    <!--配置注解驱动-->
    <mvc:annotation-driven>
        <!--配置全局处理传送JSON数据乱码-->
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json</value>
                        <value>text/html;charset=utf-8</value>
                    </list>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--配置样式映射-->
    <mvc:resources location="/WEB-INF/static/css/" mapping="/static/css/**"/>
    <mvc:resources location="/WEB-INF/static/images/" mapping="/static/images/**"/>
    <mvc:resources location="/WEB-INF/static/js/" mapping="/static/js/**"/>
    <mvc:resources location="/upfilelogin/" mapping="/upfilelogin/**"/>

    <!--配置MultipartResolver,用于文件上传-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="5000000"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>


    <!--&lt;!&ndash;拦截器配置&ndash;&gt;-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/*"/>
            <mvc:exclude-mapping path="/index"/>
            <bean class="com.uiqun.filter.UiQunFilter" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!--&lt;!&ndash;管理员拦截器配置&ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/admin/*"/>-->
            <!--<bean class="com.accp.interceptor.MyInterceptorAdmin" />-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->


    <!--Controller扫描器：扫描器扫描指定目录下的所有带有Controller注解的类(推荐使用)-->
    <context:component-scan base-package="com.uiqun.controller,com.uiqun.service"/>


</beans>