ul{
    list-style: none;
}

a:hover{
    cursor: pointer;
}
.require{
    color: red;
}
.btn-color
{
    background-color:#5bc0de;
}
/*分页 - start*/
.pageController{
    margin: 0 auto;
    width: 344px;
}
.pageController>li{
    margin: 0px 3px;
    display: inline-block;
    border-radius: 7px;
}
.pageController>li>button{
    display: inline-block;
    border: 1px silver solid;
    width: 30px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    border-radius: 7px;
    text-decoration: none;
}
.page-checked{
    background-color: #0ea6df;
}
.page-span-strong{
    color:gray;
    font-weight: bolder;
}
/*分页 - end*/
/*验证码 -start*/
.Verification{
    display: inline-block;
    text-align: center;
}
/*验证码 -end*/
/*顶格 -start*/
.Z-box{
    height: 90px;
}
.Z-box-small{
    height: 25px;
}
.Z-middle-box{
    height: 50px;
}
/*顶格 -end*/
/*logo -start*/
.logo-small{
    position: absolute;
    top:10px;
    left: 5px;
}
/*logo -end*/
.border{
    border: 1px red solid;
}
.textLeft{
    text-align: left;
}
.spanIB{
    display: inline-block;
}
footer>p>span{
    text-align: center;
}
/*现代浏览器clearfix方案，不支持IE6/7*/
.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

/*全浏览器通用的clearfix方案*/
/*引入了zoom以支持IE6/7*/
.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}
.clearfix{
    *zoom: 1;
}

/*全浏览器通用的clearfix方案【推荐】*/
/*引入了zoom以支持IE6/7*/
/*同时加入:before以解决现代浏览器上边距折叠的问题*/
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}
.clearfix{
    *zoom: 1;
}


/*滑动验证 -start*/
.block {
    position: absolute;
    left: 0;
    top: 0;
}

.sliderContainer {
    position: relative;
    text-align: center;
    width: 310px;
    height: 40px;
    line-height: 40px;
    margin-top: 15px;
    background: #f7f9fa;
    color: #45494c;
    border: 1px solid #e4e7eb;
}

.sliderContainer_active .slider {
    height: 38px;
    top: -1px;
    border: 1px solid #1991FA;
}

.sliderContainer_active .sliderMask {
    height: 38px;
    border-width: 1px;
}

.sliderContainer_success .slider {
    height: 38px;
    top: -1px;
    border: 1px solid #52CCBA;
    background-color: #52CCBA !important;
}

.sliderContainer_success .sliderMask {
    height: 38px;
    border: 1px solid #52CCBA;
    background-color: #D2F4EF;
}

.sliderContainer_success .sliderIcon {
    background-position: 0 0 !important;
}

.sliderContainer_fail .slider {
    height: 38px;
    top: -1px;
    border: 1px solid #f57a7a;
    background-color: #f57a7a !important;
}

.sliderContainer_fail .sliderMask {
    height: 38px;
    border: 1px solid #f57a7a;
    background-color: #fce1e1;
}

.sliderContainer_fail .sliderIcon {
    background-position: 0 -83px !important;
}
.sliderContainer_active .sliderText, .sliderContainer_success .sliderText, .sliderContainer_fail .sliderText {
    display: none;
}

.sliderMask {
    position: absolute;
    left: 0;
    top: 0;
    height: 40px;
    border: 0 solid #1991FA;
    background: #D1E9FE;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background .2s linear;
}

.slider:hover {
    background: #1991FA;
}

.slider:hover .sliderIcon {
    background-position: 0 -13px;
}

.sliderIcon {
    position: absolute;
    top: 15px;
    left: 13px;
    width: 14px;
    height: 10px;
    background: url(http://cstaticdun.126.net//2.6.3/images/icon_light.f13cff3.png) 0 -26px;
    background-size: 34px 471px;
}

.refreshIcon {
    position: absolute;
    right: 0;
    top: 0;
    width: 34px;
    height: 34px;
    cursor: pointer;
    background: url(http://cstaticdun.126.net//2.6.3/images/icon_light.f13cff3.png) 0 -437px;
    background-size: 34px 471px;
}
/*滑动验证 -end*/